
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<style>
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 70px;
        color: aquamarine;
    }
</style>


<div>
    @using (Html.BeginForm("save", "notas", FormMethod.Post))
    {
        <form action="">
            

            <label>Nombre de alumno</label>
            <br>
            <input type="text" name="nombre" required placeholder="Escribe tu nombre" value="@ViewBag.nombre">
            <br>

            <label for="lab1">Laboratorio 1</label>
            <br>
            <input type="number" name="lab1" required placeholder="Escribe tu nota">
            <br>

            <label for="lab2">Laboratorio 2</label>
            <br>
            <input type="number" name="lab2" required placeholder="Escribe tu nota">
            <br>

            <label for="lab3">Laboratorio 3</label>
            <br>
            <input type="number" name="lab3" required placeholder="Escribe tu nota">
            <br>

            <label for="par1">Parcial 1</label>
            <br>
            <input type="number" name="par1" required placeholder="Escribe tu nota">
            <br>

            <label for="par2">Parcial 2</label>
            <br>
            <input type="number" name="par2" required placeholder="Escribe tu nota">
            <br>

            <label for="par3">Parcial 3</label>
            <br>
            <input type="number" name="par3" required placeholder="Escribe tu nota">
            <br>

            <td>@Html.ActionLink("Calcular", "Resultado", new { @class = "btn btn-primary" })</td>







        </form>
    }
    </div>
}




